* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /*color: #2B1733;*/
  font-size: 12px;
  border: none;
  background: none;
  list-style: none;
}
img,
input,
label {
  vertical-align: middle;
}

nav{
	width:100%;
	height:60px;
	background:#000000;
	line-height: 60px;
}
nav>a{
	/*display: inline-block;*/
	padding:10px 20px;
	margin-left: 45px;
	border:2px solid #ffffff;
	text-align: center;
	color:#ffffff;
}
#banner{
	width:100%;
	height:600px;
	background:url(../img/timg.jpg) no-repeat left top;
	background-size: 100% 100%;
}
#banner>#text_no1{
	width:70%;           
	height:100%;
	margin: 0 auto;
	position:relative;
}
#text_no2{
	text-align: center;
	line-height: 600px;
	color: #FFFFFF;
	font-size: 60px;
}
#text_no3{
	text-align: right;
	position:absolute;
	top:50px;
	line-height: 45px;
	color: #FFFFFF;
	 letter-spacing: 8px;
	right: 0;
	
}
#text_no4{
	text-align: left;
	position:absolute;
	bottom:100px;
	line-height: 45px;
	color: #FFFFFF;
	 letter-spacing: 8px;
	left: 0;
}
#text_no5{
	text-align: center;
	position:absolute;
	top:200px;
	
	line-height: 25px;
	color: #FFFFFF;
	 letter-spacing: 8px;
	right: 0;
}
#zuopin{
	width:65%;
	height: 150px;
	background: url(../img/zuopin.jpg) no-repeat left top;
	background-size: 100% 100%;
	margin: 25px auto;
}
#myCarousel{
	width: 80%;
	margin: 0 auto;
	padding-right: 0;
	/*height:400px;*/
	position: relative;
	background: red;
	/*margin-top: 100px;*/
}
#myCarousel div{
	margin-right: 0;
}
.left{
	position: absolute;
	top:45%;
	left:-58px;
	/*font-size: 50px;*/
}
.right{
	position: absolute;
	right:-58px;
	top:45%;

	/*font-size: 50px;*/
}
.das{
	width:120px;
	height:80px;
	background:#000000;
	position: absolute;
	top:-80px;
	right:40px;
}
.das>li{
	position: absolute;top:0;
	left:0;
	width:100%;
	height:100%;
}
.item{
	width: 100%;
	height:400px;
	display: flex;
	margin-right: 0;
}
.item>div{
	height:100%;
	
}
.item div{
	padding:0;
}
.item>div:nth-of-type(1){
	flex: 1; 
	background:#D43F3A;
}
.item>div:nth-of-type(2){
	flex: 2;
	background: #A6E1EC;
}
.item>div:nth-of-type(3){
	flex: 1;
	background: #1B6D85;
}
.item>div:nth-of-type(2)>div{
	width:100%;
	height:50%;  background: red;
}
.item>div:nth-of-type(2)>div>div{
	height:100%;
}
#mytext{
	width:65%;
	/*height:400px;*/
	background:#DDE9F9;
	margin: 30px auto;
	text-align: center;
}
#mytext h2{
	text-align: center;
	padding-top:35px;
}
#mytext h6{
	text-align: center;
}
#mytext>div{
	width:100%;
	     
	text-align: center;
}
#mytext>div:nth-of-type(1){
	margin:30px 0;
	
}
#mytext>div>div{
	display: inline-block;
	width:180px;
	height:230px; 
	margin: 0 20px;
	text-align: right;
	line-height: 35px;
	padding-right: 15px;
	position: relative;
	overflow: hidden;
	background: #FFFFFF;
}
#mytext>div>div>div{
	position: absolute;
	width: 100%;
	height:100%;
	top:-100%;
	left:0;
	color:#FFFFFF;
	background:#000000;
	transition:all 0.3s;
	opacity: 0.9;
	text-align: center;
}
#mytext>div>div:hover>div{
	top:0;
}
.carousel-inner img{
	width: 100%;
	height:100%;
	position: relative;
	transition: all 0.4s;
}
.carousel-inner img:hover{
	transform: scale(1.2);
	z-index: 1;
}
/*#xinxi{
	width: 70%;
 margin: 0 auto;
 padding:0 5%;
}*/
#xinxi li{
	height: 30px;
	line-height: 30px;

}
#nenegli{
	text-align: center;
}
#nenegli>div{
	display: inline-block;
	width:200px;
	height:300px;
	background:#D8D8D8;
	margin:  0 30px;
	line-height: 30px;
}
#nenegli>div>img{
	padding: 20px 0;
}
#botter{
	margin-top:40px;
	width:100%;
	height:450px;
	background:url(../img/botter.jpg) no-repeat left top;
	background-size: 100% 100%;
}
.mytu{
	width:150px;
	height:150px;
	border-radius: 50%;

}

