*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	background:#000000 ;
    opacity: 0.8;
}
nav{
	height:45px; 
	width: 100%;
	background:#FFFFFF;
	opacity: 0.7;
	line-height: 45px;
}
nav li{
	float: left;
	width:80px;
	text-align: center;
	color: #0000000;
}
